
.unique-card,
.card {
  width: 20rem;
  height: 100%;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inline-buttons {
    display: flex;
    gap: 10px; 
  }

  .search-box{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
